@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
body{
	font-family:Tahoma, Geneva, sans-serif;
}
#wrapper{
	position: relative;
	margin: 0 auto;
	max-width: 75em;
	height: auto;
}
.basliklar{
	color:blue;
}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#header-logo{
	margin-top: auto;
	margin-bottom:auto;
}
#top-menu{
	position: relative;
	margin-top:1em;
}
#top-menu ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
#top-menu ul li{
	float: left;
}
#top-menu ul li a{
	display:block;
	text-decoration:none;
	color:#000;
	
	width:10.7em;
	text-align:center;
	height:40px;
	line-height:40px;
	
	
	border-bottom:2px solid rgba(182,141,49,1.00);
}
#top-menu ul li a:hover
{
	background-color:rgba(241,204,204,1.00);
	
}
#top-menu ul li ul{
	display: none;
	position: absolute;
	
	width:10.7em;
}
#top-menu ul li ul li a{
	background-color:rgba(182,141,49,1.00);
	color:white;
	border:none;
}
#top-menu ul li:hover ul{
	display: block;
}

#content{
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:1em;
	text-align: justify;
	
	
}
#icerik{
	border-right:1px solid gray;
	width:70%;
	margin:1em;
	padding: 1em;
	font-size: 14px;
	line-height: 20px;
}
#sag-kolon{
	width:30%;
	margin:1em;
}

#sag-kolon ul
{
	padding:0px;
	margin:0px;
	list-style:none;
}
#sag-kolon ul li a
{
	display:block;
	height:35px;
	text-decoration:none;
	line-height:35px;
	border-bottom:0.5px solid gray;
	color:black;
	font-size:12px;

}
#sag-kolon ul li a:hover
{
  text-decoration:underline;

}
#baslik {
	position: relative;
	width: 150px;
	height: 30px;
	z-index: 2;
	background-color: #DD9933;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #FFF;
	margin-bottom: 0.5em;
	
}
footer {
	position:relative;
	margin-top:5em;
	height: 50px;
	z-index: 2;
	background-color:#3A485B;
	line-height:45px;
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	
}
